.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;   
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-app {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 24px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header__sort-bar {
        display: flex;
    }

    .header-bars {
        display: block;
    }

    .header__nav-bars {
        position: fixed;
        width: 240px;
        top: var(--header-height);
        background-color: var(--white-color);
        z-index: 2;
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        display: none;
        animation: mobileNavInside linear 0.3s;
    }

    @keyframes mobileNavInside {
        from {
            opacity: 0;
            left: -240px;
        }
        to {
            opacity: 1;
            left: 0;
        }
    }

    .header__nav-bar-item {
        padding-left: 0;
        margin: 0 8px;
    }

    .header__nav-bar-choose {
        list-style: none;
        font-size: 1.4rem;
        border-bottom: 1px solid #ccc;
    }

    .header__nav-bar-choose:last-child {
        border-bottom: none;
    }

    .header__nav-bar-choose:active .header__nav-bar-choose-link {
        color: var(--primary-color);
    }

    .header__nav-bar-choose-link {
        text-decoration: none;
        color: var(--text-color);
        display: block;
        padding: 8px 0;
    }

    .header__nav-bar-choose-img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header__nav-bar-choose {
        display: flex;
        align-items: center;
        -webkit-tap-highlight-color: transparent;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height))
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }

    .app__content {
        padding-top: 8px;
    }

    .mobile-category {
        display: block;
    }
}

/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }  
}

/* mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .app__content {
        margin: 0 4px;
    }

    .header__mobile-search {
        display: block;
    }

    .header__logo-img {
        width: 110px;
    }

    .footer__content {
        padding: 0 16px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__download,
    .footer-item__link {
        justify-content: center;
    }

    .footer__download-app {
        flex: unset;
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }
}